<section>
    <div class="container">
        <div class="row">
            <h2>Registrarse</h2>
        </div>
        <div class="row">
            <form [formGroup]="signInForm">
                <div class="mb-3">
                    <label for="inputName" class="form-label">Nombre/s</label>
                    <input formControlName="name" type="text" class="form-control" id="inputName" placeholder="Ingrese su/s nombre/s">
                </div>
                <div class="mb-3">
                    <label for="inputSurname" class="form-label">Apellido/s</label>
                    <input formControlName="surname" type="text" class="form-control" id="inputSurname">
                </div>
                <div class="mb-3">
                    <label for="inputEmail" class="form-label">Correo electrónico</label>
                    <input formControlName="email" type="email" class="form-control" id="inputEmail">
                </div>
                <div class="mb-3">
                    <label for="inputPassword" class="form-label">Contraseña</label>
                    <input formControlName="password" type="password" class="form-control" id="inputPassword">
                </div>
                <div class="mb-3">
                    <label for="inputPasswordConfirmation" class="form-label">Confirmar contraseña</label>
                    <input formControlName="passwordConfirmation" type="password" class="form-control" id="inputPasswordConfirmation">
                </div>
                <button type="submit" class="submit">Registrarse</button>
            </form>
        </div>
    </div>
</section>
