<section>
    <h2>Registrarse</h2>
    <form>
        <div class="mb-3">
            <label for="inputName" class="form-label">Nombre/s</label>
            <input type="text" class="form-control" id="inputName">
        </div>
        <div class="mb-3">
            <label for="inputSurname" class="form-label">Apellido/s</label>
            <input type="text" class="form-control" id="inputSurname">
        </div>
        <div class="mb-3">
            <label for="inputEmail" class="form-label">Correo electrónico</label>
            <input type="email" class="form-control" id="inputEmail">
        </div>
        <div class="mb-3">
            <label for="inputPassword" class="form-label">Contraseña</label>
            <input type="password" class="form-control" id="inputPassword">
        </div>
    </form>
</section>
