<section>
  <div class="container">
    <div class="row">
      <h2 class="name">ROCÍO STALTARI BONMASSAR</h2>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="d-flex justify-content-center align-items-center gap-3">
          <button (click)="prev()">&#10094;</button>
          <img class="img" [src]="img" alt="Carrusel de imágenes">
          <button (click)="next()">&#10095;</button>
        </div>
      </div>
      <div class="col">
        <h2>Habilidades principales</h2>
        <ul>
          <li>HTML</li>
          <li>CSS</li>
          <li>JavaScript</li>
          <li>Python</li>
          <li>Inglés B2</li>
          <li>Sonido y música</li>
          <li>Ciberseguridad</li>
        </ul>
        <h2>Proyectos principales</h2>
        <ul>
          @for (project of projects; track $index) {
            @if (project.isMain == true) {
              <li>
                <div>
                  <a [href]="project.url">{{project.title}} ({{project.year}})</a>
                </div>
              </li>
            }
          }
        </ul>
      </div>
    </div>
  </div>
</section>
