<section>
  <div class="container">
    <a routerLink="/upload-project">Subir proyecto</a>
    <h2>Proyectos destacados</h2>
    <ul>
      @for (project of projects; track $index) {
        <li>
          <div>
            <h5><a [href]="project.url">{{project.title}}</a></h5>
            <p>Año: {{project.year}}</p>
            <p>Tecnologías: {{project.technologies.join(", ")}}</p>
            <p>Descripción: {{project.description}}</p>
          </div>
        </li>
      }
    </ul>
  </div>
</section>
