<section>
  <div class="container">
    <h2>Proyectos destacados</h2>
    <ul>
      <li>
        <a href="https://github.com/rostalbon/actividad-localstorage"
          >Actividad LocalStorage (2024)</a
        >
      </li>
      <li><a href="https://github.com/rostalbon/curso-adultos">Curso Adultos (2025)</a></li>
      <li>
        <a href="https://github.com/rostalbon/trabajo-integrador-robot"
          >Trabajo Integrador Robot (2025)</a
        >
      </li>
      <li><a href="https://github.com/rostalbon/app-nerd">App Nerd (2024)</a></li>
    </ul>
    <h2>Otros</h2>
    <ul>
      <li><a href="https://github.com/rostalbon/programa-repaso">Programa Hospital (2025)</a></li>
      <li>
        <a href="https://github.com/rostalbon/desafio-github">Trabajo Clases Cámara (2025)</a>
      </li>
    </ul>
  </div>
</section>