<section>
    <div class="container">
        <div class="row">
            <h2>
                Subir proyecto
            </h2>
        </div>
        <div class="row">
            <form>
                <div class="mb-3">
                    <label for="inputTitle" class="form-label">Título</label>
                    <input formControlName="title" type="text" class="form-control" id="inputTitle">
                </div>
                <div class="mb-3">
                    <label class="form-label">Tecnologías utilizadas</label>
                    <label for="">
                        
                    </label>
                    <input formControlName="html" type="checkbox" class="form-control" id="inputTechnologies">
                    <input type="text">
                </div>
            </form>
        </div>
    </div>
</section>