<section>
  <div class="parent-container">
    <div class="left-container">
      <div class="pic">
        <img src="/telefono.png" alt="" />
      </div>
      <p class="title">Teléfono</p>
      <p>+54 2945 41-4794</p>
    </div>
    <div class="right-container">
      <div class="pic">
        <img src="/email.png" alt="" />
      </div>
      <p class="title">Correo electrónico</p>
      <p>rostalbon@gmail.com</p>
    </div>
    <div class="right-container">
      <div class="pic">
        <img src="/github.png" alt="" />
      </div>
      <p class="title">GitHub</p>
      <p><a href="https://github.com/rostalbon">rostalbon</a></p>
    </div>
    <div class="right-container">
      <div class="pic">
        <img src="/linkedin.png" alt="" />
      </div>
      <p class="title">LinkedIn</p>
      <p>
        <a href="https://www.linkedin.com/in/rocío-staltari-bonmassar-23454b401"
          >Rocío Staltari Bonmassar</a
        >
      </p>
    </div>
  </div>
</section>