<section>
  <div class="parent-container">
    <div class="left-container">
      <p>
        Soy Rocío Staltari Bonmassar, estudiante secundaria de último año de la Escuela N°713 "Juan
        Abdala Chayep", en la orientación de Técnico en Informática Profesional y Personal (ETP).
        Disfruto programar y trabajar con código en general. Estoy capacitada para trabajar con
        HTML, CSS, JavaScript y Python. Además, tengo conocimientos básicos sobre bases de datos
        relacionales. Por otro lado, conozco varios aspectos sobre redes, desde topologías, hasta
        instalación de routers y repetidores. A pesar de destacar principalmente en la escritura de
        código, también tengo habilidades básicas sobre ciberseguridad, chequeadas con un cursos de
        Cisco. Por último, tengo conocimientos sobre instalación de sistemas operativos, programas y
        drivers, así como habilidades de mantenimiento de equipos en general, incluyendo aspectos
        tanto de hardware, como de software.
      </p>
      <p>
        Por otra parte, estudio música desde el año 2021, estudiando guitarra, violín, piano y
        canto. Participo activamente en eventos escolares y extraescolares, por lo que tengo buenas
        habilidades de comunicación, además de conocimientos sobre sonido en eventos como actos,
        charlas o conciertos. Además, tengo 11 años de trayectoria estudiando inglés y tengo el FCE
        aprobado nivel B2, realizado en diciembre del 2025, por lo que me comunico muy bien en el
        idioma.
      </p>
    </div>
    <div class="right-container">
      <h2>Habilidades</h2>
      <ul>
        <li>HTML</li>
        <li>CSS</li>
        <li>JavaScript</li>
        <li>Python</li>
        <li>Inglés B2</li>
        <li>Sonido y música</li>
        <li>Ciberseguridad</li>
      </ul>
      <h2>Certificaciones</h2>
      <ul>
        <li><a href="/cisco.pdf">Cisco Introduction to Cybersecurity</a></li>
        <li><a href="/StatementOfResult.pdf">First Certificate in English</a></li>
      </ul>
      <h2>Estoy aprendiendo...</h2>
      <ul>
        <li>Angular</li>
        <li>Metodología de trabajo Scrum</li>
        <li>SQL</li>
      </ul>
    </div>
  </div>
</section>