.parent-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: flex-start;
  color: #4A443F;
}

.left-container {
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 40%;
  background-color: #EAE2D6;
  padding: 2em;
  border-radius: 2em;
  margin-top: 1em;
  margin-left: 1em;
  flex-shrink: 0;
  font-size: large;
}

.right-container {
  flex-grow: 1;
  margin-top: 1.2em;
  padding: 2em;
  background-color: #EAE2D6;
  border-radius: 2em;
  padding-top: 1em;
  margin-right: 1em;
}