h1 {
  text-align: center;
  color: #4a443f;
  font-size: 5em;
  background-color: #d7c9b8;
  width: fit-content;
  margin-inline: auto;
  border-radius: 1em;
  padding: 0.2em;
  margin-block: 0;
}

header {
  margin-block: 0.2em;
  padding-block: 1em;
}

header,
nav {
  background-color: #eae2d6;
  margin: 1em;
  border-radius: 1em;
}

body {
  background-color: #f9f7f2;
  font-family: monospace;
}

.esc {
  font-style: italic;
}

.name {
  font-size: xx-large;
  font-weight: bold;
}

ul {
  list-style-type: square;
  font-size: large;
}

a {
  color: #b07d62;
}

a:hover {
  color: #96654b;
}
