h1 {
    font-size: 4em;
    text-align: center;
    color: #4A443F;
    font-size: 6em;
    margin-bottom: 0em;
    background-color: #D7C9B8;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    margin-left: 4em;
    margin-right: 4em;
    border-radius: 1em;
    padding: 0.2em;
}

body {
    background-color: #F9F7F2;
    font-family: monospace;
}

.esc {
    font-style: italic;
}

.name {
    font-size: xx-large;
    font-weight: bold;
}

ul {
    list-style-type: square;
    font-size: large;
}

a {
    color: #B07D62;
}

a:hover {
    color: #96654b;
}

.container {
  margin-top: 1.2em;
  padding: 2em;
  background-color: #EAE2D6;
  border-radius: 2em;
  padding-top: 1em;
  margin: 1em;
  color: #4A443F;
}