h1 {
  text-align: center;
  color: #4a443f;
  font-size: 5em;
  background-color: #d7c9b8;
  width: fit-content;
  margin-inline: auto;
  border-radius: 1em;
  padding-block: 0.2em;
  padding-inline: 0.5em;
  margin-block: 0;
}

.name {
  font-weight: bold;
  margin-top: 1em;
}

.space {
  margin-bottom: 1em;
}

nav {
  text-align: center;
  padding: 2em;
  a {
    margin: 0.5em;
    background-color: #d7c9b8;
    padding: 0.7em;
    border-radius: 1em;
    color: #4a443f;
    font-size: 1.5em;
    transition: 0.3s;
    text-decoration: none;
  }
  a:hover {
    background-color: #c2ae95;
    padding: 1em;
    margin: 0em;
    transition: 0.3s;
    color: #4a443f;
  }
  ul {
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    li {
      list-style: none;
    }
  }
  button {
    transition: 0.3s;
  }
  button:hover {
    background-color: #c2ae95;
    margin: 0em;
    transition: 0.3s;
    color: #4a443f;
  }
}

header {
  margin-block: 0.2em;
  padding-block: 1em;
  padding-inline: 1em;
}

header, nav {
  background-color: #eae2d6;
  margin: 1em;
  border-radius: 1em;
}

body {
  background-color: #f9f7f2;
  font-family: monospace;
}

.esc {
  font-style: italic;
}

ul {
  list-style-type: square;
  font-size: large;
  list-style:disc;
  color: #4a443f;
}

a {
  color: #b07d62;
}

a:hover {
  color: #96654b;
}

.img {
  width: 75%;
  aspect-ratio: 1 / 1;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1em;
}

.img ::ng-deep img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

button {
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  padding: 10px;
  transition: transform 0.2s;
  color: #4A443F;
}

button:hover {
  transform: scale(1.2);
}